@import "tailwindcss";

@theme {
  --color-main-5: var(--color-teal-950);
  --color-main-4: var(--color-teal-800);
  --color-main-3-5: oklch(0.5445 0.118 184.71);
  --color-main-3: var(--color-teal-600);
  --color-main-2: var(--color-teal-500);
  --color-main-1: var(--color-teal-100);

  --color-neutral-5: var(--color-slate-950);
  --color-neutral-4: var(--color-slate-800);
  --color-neutral-3: var(--color-slate-600);
  --color-neutral-2: var(--color-slate-300);
  --color-neutral-1-5: oklch(0.8783 0.022 255.508);
  --color-neutral-1: var(--color-slate-200);

  --color-accent-5: var(--color-violet-950);
  --color-accent-4: var(--color-violet-900);
  --color-accent-3: var(--color-violet-600);
  --color-accent-2: var(--color-violet-400);
  --color-accent-1: var(--color-violet-300);

  --color-warning-5: var(--color-yellow-900);
  --color-warning-4: var(--color-yellow-700);
  --color-warning-3: var(--color-yellow-500);
  --color-warning-2: var(--color-yellow-300);
  --color-warning-1: var(--color-yellow-100);

  --color-error-5: var(--color-red-950);
  --color-error-4: var(--color-red-900);
  --color-error-3-5: var(--color-red-800);
  --color-error-3: var(--color-red-700);
  --color-error-2: var(--color-red-500);
  --color-error-1: var(--color-red-300);

}

.bg-login {
  background: repeating-linear-gradient(60deg, var(--color-main-4), var(--color-main-4) 50%, var(--color-neutral-1-5) 50%, var(--color-neutral-1-5) 100%);
}

.bg-header {
  background: repeating-linear-gradient(40deg, var(--color-main-4), var(--color-main-4) 40%, var(--color-neutral-1) 40%, var(--color-neutral-1) 100%);
}
:root {
  --background: #ffffff;
  --foreground: var(--color-neutral-5);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}